/* global  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb:78,87,212;
    --c-body: #727272;
    --transition: all 0.5s ease;
    --box-shadow:0 15px 25px rgba(0,0,0,0.08);
}
html{
    scroll-behavior: smooth;
}
/* utility classes */
.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}
.shadow{
    box-shadow: var(--box-shadow);
}

 /* header start   */

header{
    background-image:linear-gradient(rgba(var(--c-brand-rgb), 0.547),rgba(var(--c-brand-rgb), 0.662)),url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* nav start  */
.navbar{
    box-shadow: var(--box-shadow);
}
.nav-link{
    font-weight: 500;
    color: var(--c-dark);
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}
.btn-brand {
    font-size: 14px ;
    font-weight: 600;
    background-color: var(--c-brand);
    color: #fff;
    padding: 10px 24px;
    border-radius: 0;
    border-color:var(--c-brand) ;
}
.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color:var(--c-brand-light) ;
    color:#fff;
}
.btn-light{
    font-size: 14px ;
    font-weight: 600;
    background-color: lightcyan;
    color: #000;
    padding: 10px 24px;
    border-radius: 0;
    border-color:var(--c-brand) ;
}
/* nav end  */

 /* header end   */


/* about start   */
#about h2{
    position: relative;
    padding-bottom: 15px;
}
#about .icon i{
    font-size: 40px;
margin-top: 10px;
    color: var(--c-brand);
    background-color: #e7e4e4;
    padding: 10px 10px 10px 13px;
}
.line{
background-color:#4e57d4 ;
width: 100px;
height: 4px;
margin: auto;
}



/* about end   */

/* services start  */
#services {
    background-color: #;
}
#services .services-box{
    background-color: #fff;
    padding: 50px;
    position: relative;
    z-index: 2;
    color: var(--c-dark);
}
.services-box::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #f2ecec;
    transition: var(--transition);
}
.services-box:hover::after{
    width: 100%;
    height: 100%;
    background-color: var(--c-brand);
    z-index: -1;
}
.services-box:hover h3
{
    color: #fff;
}
.services-box:hover p{
    color: #fff;
}
#services h2{
    padding-bottom: 15px;
}
#services i{
    font-size: 30px;
    color: #fff;
    background-color: var(--c-brand);
    padding: 20px;

}
#services  h3{
    padding: 10px 0 10px 0;
}




/* services end  */

/* counter start  */
#counter{
    background-image:linear-gradient(rgba(var(--c-brand-rgb), 0.547),rgba(var(--c-brand-rgb), 0.662)),url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
#counter h3{
    font-size: 40px;
    font-weight: 500;
}
#counter h5{
    font-size: 25px;
    font-weight: 500;
}
/* counter end  */

/* protfolio start  */

.protfolio-item{
    position: relative;
overflow: hidden;
transition: var(--transition);
}
.protfolio-item .image-zoom img{
transition: var(--transition);

}
.protfolio-item .image-zoom img:hover{
    transform:scale(1.1);
}
.protfolio-item .icon-box i{
background-color: #4ed467;
border-radius: 50%;
color: #fff;
padding: 10px;
font-size: 25px;
position: absolute;
top: 40%;
left: 50%;
transform: translateX(-50%);
transition: var(--transition);
opacity: 0;
}
.protfolio-item:hover .icon-box i{
    opacity: 1;
    top: 50%;
}
/* protfolio end  */

 /* reviews start */
#reviews .review-content{
    position: relative;
}
#reviews .review-content::after{
content: '';
position: absolute;
bottom: -14px;
width: 28px;
height: 28px;
transform: rotate(45deg);
background-color: #fff;
}
.review-person img{
    width: 70px;
}
.review-person small{
    color: var(--c-brand);
}



 /* reviews end */

 /* team start  */
 #team .team-box {
    position: relative;
    overflow: hidden;
 }
#team .team-box .team-info{
    background-color: var(--c-brand);
    color: #fff;
  width: 80%;
  margin: auto;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: var(--transition);
}
#team .team-box:hover .team-info {
opacity: 1;
bottom: 20px;
}
#team .team-box img{
    transition: var(--transition);
}
#team .team-box:hover img{
    transform: scale(1.1);
}



 /* team end  */

 /* contact start  */

#contact{
    background-image:linear-gradient(rgba(var(--c-brand-rgb), 0.547),rgba(var(--c-brand-rgb), 0.662)),url(../images/bg-contact.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
height: 85vh;
position: relative;
}
#contact .contact-title{
    text-align: center;
    color: #fff;
}
#contact .contact-title h2{
font-size: 70px;
text-transform: capitalize;
}
#contact .contact-input{
margin: auto;
      width: 85%;
      background-color: #fff;
      padding: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -300px;
      
}
#contact .contact-input input,textarea{
    display: inline-block;
    width: 49%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,0.08);
    margin-top: 10px;
    outline: none;
}
#contact .contact-input input .one , #contact .contact-input input .two{
    width: 40%;
}
.contact-input button{
    background-color: var(--c-brand);
    color: #fff;
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px 0;
}

 /* contact end  */


/* footer start  */
 #footer{
    margin-top: 400px;
color: #fff;
 }
 #footer p{
    padding: 10px 0;
    opacity: 0.8;
 }
 #footer h3{
    font-size: 40px;
    font-weight: 700;
 }
 #footer h3 span{
    color: var(--c-brand);
 }
 #footer .footer-icon i{
    background-color: #727272;
    color: #e7e4e4;
    padding: 10px;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
 }
 #footer .footer-icon i:hover{
    background-color: #fff;
    color: #212529;
 }
 #footer .footer-line{
    width: 20%;
    height: 3px;
    background-color: var(--c-brand);
 }
 #footer ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    opacity: 0.8;
    line-height: 30px;
    cursor: pointer;
 }

/* footer end  */
